<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!--<cgi createCGIWithNewConsole="true"
	        createProcessAsUser="false"
	        timeout="00:20:00" />-->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net10.0\BMapr.GDAL.WebApi.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        </environmentVariables>
      </aspNetCore>
      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
	      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="9"/>
	      <staticTypes>
		      <add mimeType="application/json" enabled="true" />
		      <add mimeType="application/geo+json" enabled="true" />
	      </staticTypes>
	      <dynamicTypes>
		      <add mimeType="application/json" enabled="true" />
		      <add mimeType="application/geo+json" enabled="true" />
	      </dynamicTypes>
      </httpCompression>
      <!-- OutOfProcess -->
      <security>
        <requestFiltering>
          <!-- 1 GB -->
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>