<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" dynamicCompressionLevel="9"/>
            <staticTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/geo+json" enabled="true" />
            </staticTypes>
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/geo+json" enabled="true" />
            </dynamicTypes>
        </httpCompression>
    </system.webServer>
</configuration>
